h1,
h2 {
  padding-top: 15px;
  font-weight: 700;
}
#header {
  background-color: rgb(238, 153, 153);
}
.blocks {
  background-color: rgb(238, 153, 153);
}
#brand {
  color: black;
  font-weight: bold;
}
p {
  padding-left: 15px;
}
